<div>
<h2>Admin documentation</h2>
<p>You will find below an NDA that we can all sign before the call with your advisor</p>
<li> <a style="font-weight: bold" class="btn btn-primary" id="small-btn" style="color: white; font-size: 14px; margin-left: 20px" data-toggle="modal" data-target="#ndaModal"> See basic confidentiality agreement </a> </li>
</div>
<!-- Modal Profil Advisor -->
<div id="ndaModal" class="modal fade " tabindex="-1">
  <%=  render "projects/nda"  %>
</div>
