



<div class="grid">

  <div class="row grid-row-header">
    <div class="col-xs-2">PROJECT</div>
    <div class="col-xs-2">ZAINA ASSOCIATE</div>
    <div class="col-xs-2">ADVISOR</div>
    <div class="col-xs-2">LAST EVENT</div>
    <div class="col-xs-2">NEXT ACTION</div>
  </div>


  <div class="row grid-row">
    <div class="col-xs-2">
    <h2>Nom du projet n째1 </h2>
    <p>Entrepreneur n째1</p>
  </div>
    <div class="col-xs-2">
      <div class="card-team-member">
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        <h2>Amina Sagou</h2>
      </div>
    </div>
    <div class="col-xs-2">
       <div class="card-team-member">
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        <h2>Joel Advisor</h2>
      </div>

    </div>
    <div class="col-xs-2">
      <h2>Advisor validated</h2>
    </div>
    <div class="col-xs-2">
       <h2>Organise call</h2>
    </div>
  </div>

  <div class="row grid-row">
    <div class="col-xs-2">
    <h2>Nom du projet n째2 </h2>
    <p>Entrepreneur n째2</p>
  </div>
    <div class="col-xs-2">
      <div class="card-team-member">
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        <h2>Mohamed Sagou</h2>
      </div>
    </div>
    <div class="col-xs-2">
       <div class="card-team-member">
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        <h2>other advisor</h2>
      </div>

    </div>
    <div class="col-xs-2">
      <h2>Call done</h2>
    </div>
    <div class="col-xs-2">
       <h2>Zaina comitee</h2>
    </div>
  </div>


  <!--<a class="card-link" href="#" ></a>-->
</div>



