

<div class="show_header ">

  <div class="box_header col-md-6">
    <%= render 'next_step_project'%>
  </div>

  <div class="box_header col-md-6" >
    <%= render 'overview_project'%>
  </div>


</div>
