<h2>Hi <%= @user.first_name %> <%= @user.last_name %>,</h2>

<h3>Zaina vous propose un advisor !</h3>

<p>Notre équipe a étudié attentivement votre dossier. Nous estimons que <%= @advisor.full_name %> sera un interlocuteur pertinent</p>

<p>Accéder à son profil en vous connectant sur votre page !</p>

<%= link_to "Accéder à votre page projet", project_url(@project) %>
