<h2>Hi <%= @user.first_name %> <%= @user.last_name %>,</h2>

<h3>Welcome to Zaina !</h3>

<p> Thanx for subscribing, please find below the next to guarantee a successful process : </p>

<ol>

  <li>You will be invited to present shortly your project</li>

  <li>Give us 48 hours to suggest you the best advisor we can get you</li>

  <li> You will receive an email when your advisor name and profile will be available in the database</li>

  <li> If you are satisfied, you can accept the suggestion</li>

  <li> After you accept, we and your advisor will need more information about your company and your project ! So please fill the form in the company profile tab and submit it </li>

  <li> If you want to be more confortable regarding confidentiality, you can sign the suggested confidentiality agreement available in the Documents tab. We will countersign it and send it back to you. </li>

  <li> After the call with your advisor, and you definitly want to work with us, you can click on "Kick-off and choose my package" to launch the process </li>

  <li> We are happy to have you among our entrepreneurs network ! </li>

</ol>
