<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close btn-close" data-dismiss="modal" aria-hidden="true" id="btn-close">&times;</button>
      <h4 class="modal-title">Advisor's profile</h4>
    </div>
    <div class="modal-body">
      <h2> Name: </h2>
      <p> John Smith </p>
      <h2> Background: </h2>
      <p> jqfhdlqsjfhslfhdsl </p>
      <h2> Sector expertise:</h2>
      <p> jqfhdlqsjfhslfhdsl</p>
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary">Save changes</button>
    </div>
  </div>
</div>

