<div class="box_header col-md-12" >
    <h1 >Profile </h1>
    <h2> Name: </h2>
      <p> John Smith </p>
    <h2> Background: </h2>
      <p> jqfhdlqsjfhslfhdsl </p>
    <h2> Sector expertise:</h2>
     <p> jqfhdlqsjfhslfhdsl</p>
  </div>
