<div class="container text-center input">
<!-- Single button -->
  <%= simple_form_for [@project, @projectmember] do |f| %>
    <%= f.error_notification %>
    <div class="container text-center input">
      <h2>Choose relevant advisor for this project</h2>
        <%= f.input :user_id, collection: User.advisor,:label_method => :email %>
        <%= f.submit "Submit advisor" %>
    </div>
  <% end %>

</div>
