<div class="footer">

  <div class="footer-links">
    <ul class="list-inline">
      <li>Follow us on</li>
      <li> <a href="#"><i class="fa fa-linkedin"></i></a></li>
    </ul>
  </div>

  <div class="main-footer__secondary-section">
    <ul class="list-inline">
      <li>
        © 2018 Zaina. All rights reserved
      </li>
      <li>
      |
      </li>
      <li>
        <a href="">Terms of Service
      </a></li>
       <li>
      |
      </li>
      <li>
        <a href="">Privacy
      </a></li>
    </ul>
  </div>

</div>
