


<div class="small_banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%=image_path("champs_agricole.jpg")%>);">


  <div class="banner-content">
    <h1>Find the most suitable investors backed by experts in your field</h1>

    <%= link_to 'Subscribe', new_user_registration_path, class: "btn btn-primary btn-lg", style:"font-size: 25px"%>
  </div>

</div>

<div class="container">

    <div class="intro">
        <h2>How it works</h2>
        <p style="font-size: 16px; text-align: center">Zaina enables you to manage your fundraising process hand by hand with a profesional advisor dedicated to you</p>
        <p style="font-size: 20px"> !!! chart to add !!! </p>
        <p style="font-size: 20px"> !!! chart to add !!! </p>
        <p style="font-size: 20px"> !!! chart to add !!! </p>
        <p style="font-size: 20px"> !!! chart to add !!! </p>
        <p style="font-size: 20px"> !!! chart to add !!! </p>
        <p style="font-size: 20px"> !!! chart to add !!! </p>
    </div>

</div>
