<div class="home-banner">
  <h1 id="banner-typed-text"></h1>
</div>


<h1>Here chose between Entrepreneur and Investor</h1>


<%= link_to 'For entrepreneurs', pages_entrepreneurs_path, class: "btn btn-primary"%>

<%= link_to 'For investors', new_project_path, class: "btn btn-primary"%>

