
<!-- this is one package card -->

<h4 class="pricing-header">Choissisez l’offre qui vous convient</h4>

<div class="content_cards">


  <div class="pricing-item active" style="margin-top: 30px">
    <div class="pricing-item__headline">
         Discovery Licence
    </div>
    <div class="pricing-item__content">
      <div class="pricing-item__price">
        <span class="price">xxx€</span> /month (HT)<br data-v-8a29d62e="">
      </div>
      <div class="pricing-item__features">
        <ul>
          <li>
            <span>Accès à la plateforme Finamatic</span>
          </li>
          <li>
            <span><b>2H</b> par mois d'un conseiller en financement sur demande</span>
          </li>
          <li>
            <span>Suivi mensuel avec votre Account Manager référent</span>
          </li>
          <li>
            <span">Remplissage simplifié et collaboratif de vos dossiers</span>
          </li>
          <li>
            <span>Jusqu’à <b>5</b> collaborateurs</span>
          </li>
        </ul>
      </div>
      <div class="pricing-item__button">
        <button type="button" class="btn-price btn--round">
          <div class="btn__content">Choose this pack
          </div>
        </button>
      </div>
    </div>
  </div>

  <div class="pricing-item active" style="margin-top: 30px">
    <div class="pricing-item__headline">
         Zaina Licence
    </div>
    <div class="pricing-item__content">
      <div class="pricing-item__price">
        <span class="price">xxx€</span> /month (HT)<br data-v-8a29d62e="">
      </div>
      <div class="pricing-item__features">
        <ul>
          <li>
            <span>Accès à la plateforme Finamatic</span>
          </li>
          <li>
            <span><b>2H</b> par mois d'un conseiller en financement sur demande</span>
          </li>
          <li>
            <span>Suivi mensuel avec votre Account Manager référent</span>
          </li>
          <li>
            <span">Remplissage simplifié et collaboratif de vos dossiers</span>
          </li>
          <li>
            <span>Jusqu’à <b>5</b> collaborateurs</span>
          </li>
        </ul>
      </div>
      <div class="pricing-item__button">
        <button type="button" class="btn-price btn--round">
          <div class="btn__content">Choose this pack
          </div>
        </button>
      </div>
    </div>
  </div>

</div>
