.title {
  text-align: center;
  margin-top: 50px;
}

.project_intro {
  margin-top: 20px;
  text-align: center;
  background-color: #D7D7D7;
}


.project_intro h3 {
  color: #972F2A;
  font-size: 18px;
  font-weight: bold;
}

.back_button {
 color: white;
 font-size: 16px;
 background: none;
 border: none
}
