
.container-form {
  width: 600;
  margin-top: 80px;
  margin-left: 20px;
  height:50px;
}

.form-control-label{
  display: table-row;
}


.select2-selection {
  height: 39px;
  margin-bottom: 10px;
  width: 100%;
}
