.initial_application_form {
  display: block;
// }
// .initial_application_form body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #444444;
}
