.sign_up {
color: #972F2A ;
font-size: 30px;
margin-bottom: 50px;
border-bottom: solid;
border-bottom-width: 1px;
border-bottom-color: #972F2A;
padding-bottom: 10px;
}

.sign_up_box {
  margin-top: 90px;
  border: solid;
  border-width: 1px;
  border-color: #EFE6E0;
  background-color: white;
  width: 600;
  margin-top: 50px;
  margin-bottom: 50px;
  border-width: 3px
}

.sign_up_form {}
