.pricing-header {
margin-top: 60px;
text-align: center;
color:#A64E4A;
font-weight: bold;
font-size: 30px;
}


.pricing-item {
    border-radius: 10px;
    padding: 2px;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    background: #A64E4A;
    color: #666;
    transition: .3s ease-in-out;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    max-width: 295px;
    margin: 20px 1%;
    height: 400;
}

.pricing-item active {

}

.pricing-item__headline {
    padding: 5px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    flex: 0 1 60px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    line-height: 1;
    font-size: 14px;
}

.pricing-item__content{
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background: #fff;
    border-radius: 0 0 8px 8px;
    padding: 20px;
    transition: .3s ease-in-out;
    font-size: 12px;
}


.pricing-item__price{
    padding: 20px 0;
    border-bottom: 1px solid #dadada;
    text-align: center;
    white-space: nowrap;

}
.price {
  font-size: 18px;
    line-height: 3rem;
    font-weight: 600;
}

.pricing-item__features{
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    padding: 40px 0 20px;

}

.pricing-item__button{
  display: flex;
    -webkit-box-pack: center;
    justify-content: center;

}

.btn-price {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    color: #fff;
    border: 0;
    background-color: #A64E4A;
    border-radius: 10px;
    height: 30px;
}

.btn__content{
  align-items: center;
    border-radius: inherit;
    color: inherit;
    display: flex;
    height: inherit;
    flex: 1 0 auto;
    justify-content: center;
    margin: 0 auto;
    padding: 0 16px;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    white-space: nowrap;
    width: inherit;
    font-size: 14px;

}


.content_cards {
    display: flex;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    box-sizing: content-box;
    justify-content: center;
    margin-top: 40px;
}


.dialog-header {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}







