.tabs {
  display: flex;
  padding: 0px 10px 0 10px;
  line-height: 0;
  margin-top: 50px;
  justify-content: space-between;
  margin-right: 15px;
  margin-left: 15px;
  border-bottom-color: #AAAAAA;
    border-bottom-width: 2px;
    border-bottom-style: solid;

}

.tabs a {
  color: #AAAAAA;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}
.tabs h3 {
  font-size: 17px;
  font-weight: bold;
  margin-top: 0;
}
.tabs p {
  font-size: 17px;
  opacity: 0.5;
  margin-bottom: 0;
}
.tab {
  text-align: center;
  padding: 20px 0;
}
.tab:first-child {
  border-radius: 10px 0 0 0;
}
.tab:last-child {
  border-radius: 0 10px 0 0;
}
.tab.active {
  color: #972F2A;
}

.tab-content {
  background-color: white;
   margin: 10px;
  padding: 20px;
}

